@font-face {
    font-family: "Inter 28pt Medium";
    src: url("Inter_28pt-Medium.ttf");
}

@font-face {
    font-family: "Inter 28pt SemiBold";
    src: url("Inter_28pt-SemiBold.ttf");
}

.background {
    -fx-background-color: #F7F8FA;
}

.background-radiant {
    -fx-background-color: radial-gradient(center 65% 65%, radius 95%, rgba(122, 100, 240, 0.2007), rgba(53, 116, 240, 0));
}
.background-white {
    -fx-background-color: #FFFFFF;
}

.btn-primary {
    -fx-background-color: #3574F0;
    -fx-border-radius: 4;
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 13;
}

.burger{
    -fx-shape: "M2.75,2.5h14.5s0.75,0,0.75,0.75v0s0,0.75,-0.75,0.75h-14.5s-0.75,0,-0.75,-0.75v0s0,-0.75,0.75,-0.75M2.75,7h14.5s0.75,0,0.75,0.75v0s0,0.75,-0.75,0.75h-14.5s-0.75,0,-0.75,-0.75v0s0,-0.75,0.75,-0.75M2.75,11.5h14.5s0.75,0,0.75,0.75v0s0,0.75,-0.75,0.75h-14.5s-0.75,0,-0.75,-0.75v0s0,-0.75,0.75,-0.75M2.75,16h14.5s0.75,0,0.75,0.75v0s0,0.75,-0.75,0.75h-14.5s-0.75,0,-0.75,-0.75v0s0,-0.75,0.75,-0.75";
    -fx-background-color: #6C707E;
}

.ico-close{
    -fx-shape: "M 2 0 l 13 12 l -1 1 L 1 1 Z M 14 0 l 1 1 l -13 12 L 1 12 Z ";
    -fx-background-color: #6C707E;
}
.ico-minimize{
    -fx-shape: "M3,8H13V9H3Z";
    -fx-background-color: #6C707E;
}

.bg-gray-light {
    -fx-background-color: #DFE1E5;
}

.btn-primary:hover {
    -fx-background-color: #3369D6;
}

/*.btn-primary:active {*/
/*    -fx-background-color: #315FBD;*/
/*}*/

.btn-secondary {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 4;
    -fx-border-color: #C9CCD6;
    -fx-border-style: solid;
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 13;
    -fx-border-width: 1;
}

.btn-secondary:hover {
    -fx-border-color: #A8ADBD;
}

/*.btn-secondary:active {*/
/*    -fx-border-color: #818594;*/
/*}*/

.btn-disabled {
    -fx-background-color: #EBECF0;
    -fx-border-radius: 4;
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 13;
}

.typo-h1 {
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 20;
    -fx-font-weight: 800;
}

.typo-h2 {
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 16;
    -fx-font-weight: 800;
}

.typo-default {
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 13;
    -fx-font-weight: 400;
}

.typo-default-title{
    -fx-font-family: "Inter 28pt SemiBold";
    -fx-font-size: 13;
}

.typo-large{
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 18;
    -fx-font-weight: 400;
}


.typo-paragraph {
    -fx-font-size: 13;
    -fx-font-weight: 400;
}

.typo-disabled {
    -fx-font-size: 13;
    -fx-text-fill: #6C707E;
}

.input-default {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 4;
    -fx-border-color: #C9CCD6;
    -fx-border-style: solid;
    -fx-min-height: 28;
    -fx-max-height: 28;
    -fx-font-size: 13;
    -fx-border-width: 1;
}

.help {
    -fx-shape: "M0,50 A50,50 0 1,1 100,50 A50,50 0 1,1 0,50";
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-background-color: transparent;
    -fx-border-color: #C9CCD6;
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.help:hover {
    -fx-background-color: #DFE1E5;
}

.navbar-btn-close {
    -fx-text-fill: #6C707E;
    -fx-background-color: none;
}

.navbar-btn-close:hover {
    -fx-text-fill: #6C707E;
    -fx-background-color: #E81123;
}

.navbar-btn-minimize {
    -fx-background-color: none;
}

.navbar-btn-minimize:hover {
    -fx-background-color: #DFE1E5;
}

.navbar-background {
    -fx-background-color: #F7F8FA;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EBECF0;
}

.btn-border-right{
    -fx-background-color: none;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #EBECF0;
}
.btn-border-right:hover{
    -fx-background-color: #DFE1E5;
}
.border {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EBECF0;
}

.btn-text{
    -fx-text-fill: #3574F0;
    -fx-font-size: 13;
    -fx-font-family: "Inter 28pt Medium";
    -fx-background-color : none;
}

.btn-text:hover{
    -fx-text-fill: #3369D6;
    -fx-cursor: hand;
    -fx-underline: true;
}

.btn-text-light{
    -fx-background-color : none;
    -fx-text-fill: #88ADF7;
    -fx-font-size: 13;
    -fx-font-family: "Inter 28pt Medium";
}

.btn-text-light:hover{
    -fx-text-fill: #3574F0;
    -fx-cursor: hand;
    -fx-underline: true;
}

.menu-style{
    -fx-border-color: #EBECF0;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-radius: 0 0 4 4;
    -fx-background-color: #FFFFFF;
}

.menu-sepator{
    -fx-background-color: white;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.btn-menu{
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.btn-menu:hover{
    -fx-background-color: #D4E2FF;
}

.notification{
    -fx-background-color: #27282E;
    -fx-background-radius: 8px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #EBECF0;
    -fx-text-fill: #3574F0;
    -fx-font-size: 13;
    -fx-font-family: "Inter 28pt Medium";
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

/*.btn-primary:active {*/
/*    -fx-background-color: #315FBD;*/
/*}*/

.btn-filtre {
    -fx-background-color: #EBECF0;
    -fx-border-radius: 2;
    -fx-border-color: #C9CCD6;
    -fx-border-style: solid;
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 11;
    -fx-border-width: 1;
    -fx-text-fill: #818594;
}

.btn-filtre:hover {
    -fx-background-color: #FAD4D8;
}